
<div class="content-container">
    <div class="content-area">

        <h1>Devices</h1>

        <p *ngIf="!devices"><em>Loading...</em></p>

        <table class='table' *ngIf="devices">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Value</th>
                    <th>Last edit</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let device of devices">
                    <td>{{ device.id }}</td>
                    <td>{{ device.name }}</td>
                    <td>{{ device.value }}</td>
                    <td>{{ device.lastedit }}</td>
                </tr>
            </tbody>
        </table>


        <button class="btn btn-success">Success</button>

      


    </div>
    <nav class="sidenav">
       
    </nav>
</div>


